*{
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", serif;
}

body{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/car.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-color {
    background-color: transparent;
    border: transparent;
}

.btn-color2 {
    background-color: transparent;
    border: transparent;
    font-size: 25px;
    font-family: "Century Gothic", serif;
}

.table-back{
    width: 1600px;
    height: 800px;
    position: center;
    margin: 1% auto;
    background: #fff;
    padding: 5px;
}

.general-back{
    position: relative;
    margin: 1% auto;
    padding: 5px;
}

#tableWithCars_wrapper{
    margin-top: 40px
}
#orderAdmin_wrapper{
    margin: 10px 10px 10px 10px;
}
#usersControlTable_wrapper{
    width: 1570px;
    position: absolute;
    margin: 10px 10px 10px 10px;
}

.table-back2{
    width: 1800px;
    height: 800px;
    position: relative;
    margin: 1% auto;
    background: #fff;
    padding: 5px;
    margin-inside: 10px;
}

.profile-back{
    width: 600px;
    height: 800px;
    position: center;
    margin: 1% auto;
    background: #fff;
    padding: 5px;
    margin-inside: 10px;
}

.logo img{
    width: 140px;
    height: auto;
}

.spacing{
    margin-top: 20px;
    margin-bottom: 15px ;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

.table td, .table th {
    vertical-align: middle;
}

.color{
    background-color: #007BFF;
}

.position-inline{
    display: inline-block;
}
.position{
    float: right;
}
.my-custom-scrollbar {
    position: relative;
    height: 780px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.text-position {
    margin-left: 20px;
    text-align: left;
}
.text-size{
    font-weight: bold;
}
